@{
    ViewData["Title"] = "Online Bookstore";
}
@model ProjectListViewModel

<div class="text-center">
    <h1 class="display-4">Online Bookstore</h1>
</div>

<!-- Jumbotron Header -->
<header class="jumbotron my-4">
    <h1 class="display-3 text-center">Shop Now!</h1>
</header>

<!-- Looping through the model to display everything from project model.-->
<!-- Page Features -->
<div class="row text-center">
    @foreach (var x in Model.Projects)
    {


        <div class="col-lg-3 col-md-6 mb-4 align-self-md-center">
            <div class="card h-100">
                <div class="card-body table-bordered" style="border-color: coral">
                    <h4 class="card-title">@x.Title</h4>
                    <p class="card-text">by: @x.AuthorFirst @x.AuthorLast</p>
                    <p class="card-text">Publisher: @x.Publisher</p>
                    <p class="card-text">ISBN: @x.Isbn</p>
                    <p class="card-text">Classification: @x.Classification</p>
                    <p class="card-text">Category: @x.Category</p>
                    <p class="card-text">Pages: @x.Pages</p>
                    <p class="card-text font-weight-bold">$@x.Price</p>
                </div>
            </div>
        </div>
    }
</div>

<!--Calling paginginfo from model which has all the variables with info for page-model-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal ="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1"></div>
